:root {
  --primary: #fff;
}

.btn{
  padding: 8px 20px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border:1px solid var(--primary)
}

.btn--outline{
  background-color: transparent;
  padding: 8px 20px;
  border:none;
  tra
}